body{
background-color: saddlebrown; }
#list{
color: white;
font-size: 20px; font-family: monospace; position: fixed; margin-top: 200px;
}
button{
padding: 5px 10px;
font-size: 20px;
cursor: pointer; background-color: sandybrown; border-radius: 15px; box-shadow: 0 3px #999; font-family: monospace; position: absolute;
}
button:hover {background-color: #FFFFFF}
button:active { background-color: #FFFFFF; box-shadow: 0 5px #666; transform: translateY(4px);
}
